@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid text-white">
    <div class="row">
        <div class="col-sm-3">
        <img class="w-100"src="https://previews.123rf.com/images/apoev/apoev1804/apoev180400157/99266983-default-placeholder-businessman-half-length-portrait-photo-avatar-man-gray-color.jpg"/>
        </div>
        <div class="col-sm-9">
            <h2>Anders Børjesson (anbo)</h2>
            <h4>Cand.scient. i matematik og datalogi</h4>
            <br />
            <h4>
                Lektor på Datamatikeruddannelsen <br />
                Zealand, Sjællands Erhvervsakademi, Roskilde<br />
                <a href="https://anbo-easj.dk/cv/">CV</a>
            </h4>
            <br />
            <h6 class="font-italic">
                Address (work): <br />
                Maglegårdsvej 2, 4000 Roskilde <br />
                E-mail (work) anbo(at)zealand.dk
            </h6>
        </div>
    </div>
</div>

<div style="padding-top: 20px" class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <p class="font-weight-bold teaching-links">Teaching autumn 2019</p>
            <p class="teaching-links"><a href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Programmering 3sem</a> Datamatiker</p>
            <p class="teaching-links"><a href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development</a>, 4th semester Comp Science</p>
            <p class="teaching-links"><a href="https://anbo-easj.dk/internship/index.html">Internship</a>, 5th semester, Comp Science</p>
            <p class="teaching-links"><a href="https://anbo-easj.dk/dissertation2020spring/">Dissertation course</a></p>
            <p class="teaching-links">Dissertations, Computer Science</p>
            <br />
        </div>
        <div class="col-sm-4">
            <p class="font-weight-bold teaching-links">Teaching spring 2019</p>
            <p class="teaching-links"><a href="https://anbo-easj.dk/mobile2019spring/index.html">Mobile Application Development</a>, 4th semester Comp Science</p>
            <p class="teaching-links"><a href="https://anbo-easj.dk/internship/index.html">Internship</a>, 5th semester, Comp Science</p>
            <p class="teaching-links"><a href="https://anbo-easj.dk/dissertation2019spring/">Dissertation course</a></p>
            <p class="teaching-links">Dissertations, Computer Science</p>
            <br />
        </div>
        <div class="col-sm-4">
            <p class="font-weight-bold teaching-links">Teaching autumn 2018</p>
            <p class="teaching-links"><a href="https://anbo-easj.dk/prog3_2018autumn/index.html">Programming</a>, 3rd semester, Comp Science</p>
            <p class="teaching-links"><a href="https://anbo-easj.dk/mobile2018autumn/index.html">Mobile Application Development</a>, 4th semester Comp Science</p>
            <p class="teaching-links"><a href="https://anbo-easj.dk/internship/index.html">Internship</a>, 5th semester, Comp Science</p>
            <p class="teaching-links"><a href="https://anbo-easj.dk/dissertation2018autumn/">Dissertation course</a></p>
            <p class="teaching-links">Dissertations, Computer Science</p>
            <br />
            <p class="teaching-links" style="text-indent: 15px;"><a href="https://anbo-easj.dk/undervisning/">Previous semesters</a></p>
        </div>
    </div>

</div>






@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
